<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>

<script src="{{ site.js_url }}"></script>

<script type='text/javascript' src="{{ page.base_url }}/lib/site.js"></script>
<script type='text/javascript' src="{{ page.base_url }}/lib/bootstrap.js"></script>

<link href="{{ page.base_url }}/lib/bootstrap.css" media="screen" rel="stylesheet" type="text/css"/>
<link rel="stylesheet/less" type="text/css" href="{{ page.base_url }}/lib/shared.less">
<link rel="stylesheet/less" type="text/css" href="{{ page.base_url }}/lib/styles.less">
<link rel="stylesheet/less" type="text/css" href="{{ page.base_url }}/lib/pigments.css">
<link rel="stylesheet/less" type="text/css" href="{{ page.base_url }}/lib/github.css">
<script src="{{ page.base_url }}/lib/less.js" type="text/javascript"></script>