<div id="navs" class="navbar navbar-default navbar-static-top">
<div class="navbar navbar-default " id="navbar"  style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.base_url }}/">jQuery.floatThead</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            {% if page.slug == 'home' %}
            <li><a href="#intro">Intro</a></li>
            <li><a href="#usage">Usage</a></li>
            <li><a href="#options">Options</a></li>
            <li><a href="#examples">Examples</a></li>
            <li><a href="{{ site.base_url }}/datatables/">Datatables Example</a></li>
            <li><a href="{{ site.base_url }}/faq">FAQ</a></li>
            <li><a href="#issues">Known Issues</a></li>
            <li><a href="#download">Download</a></li>
            {% else %}
            <li><a href="{{ site.base_url }}/#intro">Intro</a></li>
            <li><a href="{{ site.base_url }}/#usage">Usage</a></li>
            <li><a href="{{ site.base_url }}/#options">Options</a></li>
            <li><a href="{{ site.base_url }}/#examples">Examples</a></li>
            <li><a href="{{ site.base_url }}/datatables/">Datatables Example</a></li>

            <li><a class='{% if page.slug == "faq" %}active{% endif %}' href="{{ site.base_url }}/faq">FAQ</a></li>
            <li><a href="{{ site.base_url }}/#download">Download</a></li>
            <li class="gittip"><script data-gittip-username="mkoryak"
                                    data-gittip-widget="button"
                                    src="//gttp.co/v1.js"></script></li>
            {% endif %}
            <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mkoryak&amp;repo=floatThead&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub" style="margin-top: 15px;"></iframe></li>

        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
<div class="navbar navbar-default navbar-static-top navbar-inverse" style="margin-bottom: 0" >
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
            {% include subnav.html %}
        </ul>
    </div>
    <!--/.nav-collapse -->
</div>
</div>