<div id="navs" class="navbar-fixed-top">
<div class="navbar navbar-first" id='navbar'>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ site.base_url }}/" style='margin-left: 0'>jQuery.floatThead</a>

            <ul class="nav">
                {% if page.slug == 'home' %}
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#usage">Usage</a></li>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#examples">Examples</a></li>
                    <li><a href="{{ site.base_url }}/datatables/">Datatables Example</a></li>
                    <li><a href="{{ site.base_url }}/other-libs/">Similar Plugins</a></li>
                    <li><a href="#issues">Known Issues</a></li>
                    <li><a href="#download">Download</a></li>
                {% else %}
                    <li><a href="{{ site.base_url }}/#intro">Intro</a></li>
                    <li><a href="{{ site.base_url }}/#usage">Usage</a></li>
                    <li><a href="{{ site.base_url }}/#options">Options</a></li>
                    <li><a href="{{ site.base_url }}/#examples">Examples</a></li>
                    <li><a href="{{ site.base_url }}/datatables/">Datatables Example</a></li>
                    <li><a href="{{ site.base_url }}/other-libs/">Similar Plugins</a></li>
                    <li><a href="{{ site.base_url }}/#issues">Known Issues</a></li>
                    <li><a href="{{ site.base_url }}/#download">Download</a></li>
                {% endif %}
            </ul>

            <a class='btn btn-info btn-small' style='margin:7px 15px 0 0;' href="https://github.com/mkoryak/floatThead">View on GitHub <i class='icon-home icon-white'></i></a>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <h4 class="pull-left" style="color:white;">Examples: </h4>
        <ul class="nav">
            <li class='{% if page.slug == "big-thead" %}active{% endif %}'><a href='{{ site.base_url }}/examples/big-thead/'>Big THead</a></li>
            <li class='{% if page.slug == "border-collapse" %}active{% endif %}'><a href='{{ site.base_url }}/examples/border-collapse/'>Border Collapse</a></li>
            <li class='{% if page.slug == "empty-table" %}active{% endif %}'><a href='{{ site.base_url }}/examples/empty-table/'>Empty Table</a></li>
            <li class='{% if page.slug == "window-scroll" %}active{% endif %}'><a href='{{ site.base_url }}/examples/window-scrolling/'>Window Scrolling</a></li>
            <li class='{% if page.slug == "exceptions" %}active{% endif %}'><a href='{{ site.base_url }}/examples/init-exceptions/'>Exceptions</a></li>
            <li class='{% if page.slug == "inner-scroll" %}active{% endif %}'><a href='{{ site.base_url }}/examples/inner-scroll/'>Inner Scrolling</a></li>
            <!--<li class='{% if page.slug == "positioning-options" %}active{% endif %}'><a href='{{ site.base_url }}/examples/positioning-options/'>Positioning Options</a></li>-->
            <li class='{% if page.slug == "row-groups" %}active{% endif %}'><a href='{{ site.base_url }}/examples/row-groups/'>Row Groups</a></li>
        </ul>
    </div>
</div>
</div>