<div id="navs" class="navbar-fixed-top">
<div class="navbar navbar-first" id='navbar'>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ site.base_url }}/" style='margin-left: 0'>jQuery.floatThead</a>

            <ul class="nav">
                {% if page.slug == 'home' %}
                    <li><a href="#intro">Intro</a></li>
                    <li><a href="#usage">Usage</a></li>
                    <li><a href="#options">Options</a></li>
                    <li><a href="#examples">Examples</a></li>
                    <li><a href="{{ site.base_url }}/integrations/">Integrations</a></li>
                    <li><a href="{{ site.base_url }}/faq">FAQ</a></li>
                    <li><a href="#issues">Known Issues</a></li>
                    <li><a href="#download">Download</a></li>
                    {% else %}
                    <li><a href="{{ site.base_url }}/#intro">Intro</a></li>
                    <li><a href="{{ site.base_url }}/#usage">Usage</a></li>
                    <li><a href="{{ site.base_url }}/#options">Options</a></li>
                    <li><a href="{{ site.base_url }}/#examples">Examples</a></li>
                    <li><a href="{{ site.base_url }}/integrations/">Integrations</a></li>
                    <li><a href="{{ site.base_url }}/faq">FAQ</a></li>
                    <li><a href="{{ site.base_url }}/#download">Download</a></li>
                    {% endif %}
                    <li><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mkoryak&amp;repo=floatThead&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub" style="margin-top: 10px;"></iframe></li>

            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <ul class="nav">
            {% include subnav.html %}
        </ul>
    </div>
</div>
</div>
