<!--[if IE 9]>
<br/>
<div class="alert alert-danger">
    Stop! You are using IE9 to view a large table! You might witness <a href="http://stackoverflow.com/questions/5805956/internet-explorer-9-not-rendering-table-cells-properly">a rare<sup>*</sup> IE9 bug</a> that makes this plugin look very broken.
    <br/>
    You can still use this plugin in IE9 if you follow the workaround outlined in the stackoverflow link above. I am too lazy to do so.
    <br/>
    <small><sup>*</sup> it's not rare.</small>
</div>
<br/>
<![endif]-->