<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=940, initial-scale=1.0">
    <title>jQuery.floatThead</title>

    {% include assets.html %}
</head>
<style type='text/css'>
    table.collapse {
        border-collapse:collapse;
    }
    body {
        padding-top: 81px;
    }
</style>

<body data-spy="scroll" data-target=".navbar-first">
<a href="https://github.com/mkoryak/floatThead"><img id="under-nav" style="position: absolute; top: 81px; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div class='container'>

    {% include header.html %}


    {{ content }}

    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
        var sc_project=8344784;
        var sc_invisible=1;
        var sc_security="b638e513";
    </script>
    <script type="text/javascript"
            src="http://www.statcounter.com/counter/counter.js"></script>
    <noscript><div class="statcounter"><a title="web analytics"
                                          href="http://statcounter.com/" target="_blank"><img
            class="statcounter"
            src="http://c.statcounter.com/8344784/0/b638e513/1/"
            alt="web analytics"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->
</div>
</body>
</html>
