<!DOCTYPE html>
<html><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <title>jQuery.floatThead - Tests</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ page.base_url }}/lib/favicon.ico">
    <script src="{{ page.base_url }}/lib/jquery/jquery.min.js"></script>
    <script type='text/javascript' src="{{ page.base_url }}/lib/underscore-min.js"></script>
    <script src="{{ page.base_url }}/lib/site.js"></script>
    <script src="{{ site.js_url }}"></script>

    {% if page.bootstrap %}
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style type="text/css">
        table.floatThead-table {
            background-color: #FFF;
        }
    </style>
    {% endif %}

    <script type="text/javascript">
        window.isBS2 = false;
    </script>
</head>
<body>


    <div style="border: 1px solid red; margin: 5px auto 30px auto; width: 70%;">
        <div style="text-align: center; font-size: 17px; font-weight: bold; padding: 15px;">
            <a href="{{ page.base_url }}">jquery.floatThead.js</a> - <a href="{{ page.base_url }}/tests/">test</a> for issue: <a href="https://github.com/mkoryak/floatThead/issues/{{ page.issue }}" target="_blank">https://github.com/mkoryak/floatThead/issues/{{ page.issue }}</a>
        </div>
        <div style="font-size: 16px; font-weight: bold; border-top: 1px solid blue; margin: 10px 0;"><div style="padding: 5px 15px;">Issue #{{ page.issue }}</div></div>
        <div style="font-family: arial, 'Lucida Grande', sans-serif; padding: 5px 15px;" id="issue-desc">
            {{ page.desc }}
        </div>
    </div>

    {{ content }}



    <!-- Start of StatCounter Code for Default Guide -->
    <script type="text/javascript">
        var sc_project=8344784;
        var sc_invisible=1;
        var sc_security="b638e513";
    </script>
<script type="text/javascript"
            src="https://www.statcounter.com/counter/counter.js"></script>
    <noscript><div class="statcounter"><a title="web analytics"
                                          href="https://statcounter.com/" target="_blank"><img
            class="statcounter"
            src="https://c.statcounter.com/8344784/0/b638e513/1/"
            alt="web analytics"></a></div></noscript>
    <!-- End of StatCounter Code for Default Guide -->

    <script type="text/javascript">
        $(function(){
            var $desc = $('#issue-desc');
            var text = $desc.text();
            $desc.html(text.replace(/#(\d+)/g, " <a href='{{ page.base_url }}/tests/issue-$1/'>#$1</a> "));
        });
    </script>

</body>
</html>
